@use "functions/escape-svg" as *;
@use "mixins/border-radius" as *;
@use "mixins/color-mode" as *;
@use "variables" as *;

/* Transparent background and border properties included for button version.

iOS requires the button element instead of an anchor tag.
If you want the anchor version, it requires `href="#"`.
See https://developer.mozilla.org/en-US/docs/Web/Events/click#Safari_Mobile */

.btn-close {
    /* close-css-vars */
    --#{$prefix}btn-close-color: #{$btn-close-color};
    --#{$prefix}btn-close-bg: #{escape-svg($btn-close-bg)};
    --#{$prefix}btn-close-opacity: #{$btn-close-opacity};
    --#{$prefix}btn-close-hover-opacity: #{$btn-close-hover-opacity};
    --#{$prefix}btn-close-focus-shadow: #{$btn-close-focus-shadow};
    --#{$prefix}btn-close-focus-opacity: #{$btn-close-focus-opacity};
    --#{$prefix}btn-close-disabled-opacity: #{$btn-close-disabled-opacity};

    box-sizing: content-box;
    inline-size: $btn-close-width;
    block-size: $btn-close-height;
    padding: $btn-close-padding-y $btn-close-padding-x;
    border: 0; // for button elements

    color: var(--#{$prefix}btn-close-color);

    opacity: var(--#{$prefix}btn-close-opacity);
    background: transparent var(--#{$prefix}btn-close-bg) center /
        $btn-close-width auto no-repeat; // include transparent for button elements
    filter: var(--#{$prefix}btn-close-filter);

    @include border-radius;

    /* Override <a>'s hover style */
    &:hover {
        color: var(--#{$prefix}btn-close-color);
        text-decoration: none;
        opacity: var(--#{$prefix}btn-close-hover-opacity);
    }

    &:focus {
        opacity: var(--#{$prefix}btn-close-focus-opacity);
        outline: 0;
        box-shadow: var(--#{$prefix}btn-close-focus-shadow);
    }

    &:disabled,
    &.disabled {
        pointer-events: none;
        user-select: none;
        opacity: var(--#{$prefix}btn-close-disabled-opacity);
    }
}

@mixin btn-close-white() {
    --#{$prefix}btn-close-filter: #{$btn-close-filter-dark};
}

.btn-close-white {
    @include btn-close-white;
}

:root,
[data-bs-theme="light"] {
    --#{$prefix}btn-close-filter: #{$btn-close-filter};
}

@if $enable-dark-mode {
    @include color-mode(dark, true) {
        @include btn-close-white;
    }
}
