$white: #fff;
$black: #000;
$color-contrast-dark: $black !default;
$color-contrast-light: $white !default;

// The contrast ratio to reach against white, to determine if color changes from "light" to "dark". Acceptable values for WCAG 2.2 are 3, 4.5 and 7.
$min-contrast-ratio: 4.5 !default;

/* Prefix for :root CSS variables */
$prefix: bs- !default;