@use "sass:meta";

@layer bs-base, bs-layout, bs-components, bs-utilities;

/* Base Layer */
@layer bs-base {
    @layer bs-root,
    bs-reboot, 
    bs-type;
}

@layer bs-root {
    @include meta.load-css("root");
}

@layer bs-reboot {
    @include meta.load-css("reboot");
}

@layer bs-type {
    @include meta.load-css("type");
}

@layer bs-layout {
    @layer bs-containers,
    bs-grid;
}

@layer bs-containers {
    @include meta.load-css("containers");
}

@layer bs-grid {
    @include meta.load-css("grid");
}

/* Components Layer */
@layer bs-components {
    @layer bs-image,
    bs-tables,
    bs-forms,
    bs-accordion,
    bs-alert,
    bs-badge,
    bs-breadcrumbs,
    bs-button-group,
    bs-buttons,
    bs-card,
    bs-carousel,
    bs-dropdown,
    bs-list-group,
    bs-modal,
    bs-nav,
    bs-navbar,
    bs-offcanvas,
    bs-pagination,
    bs-popover,
    bs-progress,
    bs-spinners,
    bs-toasts,
    bs-tooltip;
}

@layer bs-image {
    @include meta.load-css("images");
}

@layer bs-tables {
    @include meta.load-css("tables");
}

@layer bs-forms {
    @include meta.load-css("forms");
}

@layer bs-accordion {
    @include meta.load-css("accordion");
}

@layer bs-alert {
    @include meta.load-css("alert");
}

@layer bs-badge {
    @include meta.load-css("badge");
}

@layer bs-breadcrumbs {
    @include meta.load-css("breadcrumbs");
}

@layer bs-button-group {
    @include meta.load-css("button-group");
}

@layer bs-buttons {
    @include meta.load-css("buttons");
}

@layer bs-card {
    @include meta.load-css("card");
}

@layer bs-carousel {
    @include meta.load-css("carousel");
}

@layer bs-dropdown {
    @include meta.load-css("dropdown");
}

@layer bs-list-group {
    @include meta.load-css("list-group");
}

@layer bs-modal {
    @include meta.load-css("modal");
}

@layer bs-nav {
    @include meta.load-css("nav");
}

@layer bs-navbar {
    @include meta.load-css("navbar");
}

@layer bs-offcanvas {
    @include meta.load-css("offcanvas");
}

@layer bs-pagination {
    @include meta.load-css("pagination");
}

@layer bs-popover {
    @include meta.load-css("popover");
}

@layer bs-progress {
    @include meta.load-css("progress");
}

@layer bs-spinners {
    @include meta.load-css("spinners");
}

@layer bs-toasts {
    @include meta.load-css("toasts");
}

@layer bs-tooltip {
    @include meta.load-css("tooltip");
}

/* Utilities Layer */
@layer bs-utilities {
    @layer bs-util-clearfix,
    bs-util-color-bg,
    bs-util-colored-links,
    bs-util-focus-ring,
    bs-util-icon-link,
    bs-util-position,
    bs-util-ratio,
    bs-util-stacks,
    bs-util-stretched-link,
    bs-util-text-truncation,
    bs-util-visually-hidden,
    bs-util-vr,
    bs-util-transitions;
}

@layer bs-util-clearfix {
    @include meta.load-css("helpers/clearfix");
}

@layer bs-util-color-bg {
    @include meta.load-css("helpers/color-bg");
}

@layer bs-util-colored-links {
    @include meta.load-css("helpers/colored-links");
}

@layer bs-util-focus-ring {
    @include meta.load-css("helpers/focus-ring");
}

@layer bs-util-icon-link {
    @include meta.load-css("helpers/icon-link");
}

@layer bs-util-position {
    @include meta.load-css("helpers/position");
}

@layer bs-util-ratio {
    @include meta.load-css("helpers/ratio");
}

@layer bs-util-stacks {
    @include meta.load-css("helpers/stacks");
}

@layer bs-util-streched-link {
    @include meta.load-css("helpers/stretched-link");
}

@layer bs-util-text-truncation {
    @include meta.load-css("helpers/text-truncation");
}

@layer bs-util-visually-hidden {
    @include meta.load-css("helpers/visually-hidden");
}

@layer bs-util-vr {
    @include meta.load-css("helpers/vr");
}

@layer bs-util-transitions {
    @include meta.load-css("transitions");
}
