/* Re-assigned maps

Placed here so that others can override the default Sass maps and see automatic updates to utilities and more.
*/

@use "functions/maps" as *;
@use "functions/to-rgb" as *;
@use "variables" as *;

/* theme-colors-rgb */
$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value") !default;

/* theme-text-map */
$theme-colors-text: (
    "primary": $primary-text-emphasis,
    "secondary": $secondary-text-emphasis,
    "success": $success-text-emphasis,
    "info": $info-text-emphasis,
    "warning": $warning-text-emphasis,
    "danger": $danger-text-emphasis,
    "light": $light-text-emphasis,
    "dark": $dark-text-emphasis,
) !default;

/* theme-bg-subtle-map */
$theme-colors-bg-subtle: (
    "primary": $primary-bg-subtle,
    "secondary": $secondary-bg-subtle,
    "success": $success-bg-subtle,
    "info": $info-bg-subtle,
    "warning": $warning-bg-subtle,
    "danger": $danger-bg-subtle,
    "light": $light-bg-subtle,
    "dark": $dark-bg-subtle,
) !default;

/* theme-border-subtle-map */
$theme-colors-border-subtle: (
    "primary": $primary-border-subtle,
    "secondary": $secondary-border-subtle,
    "success": $success-border-subtle,
    "info": $info-border-subtle,
    "warning": $warning-border-subtle,
    "danger": $danger-border-subtle,
    "light": $light-border-subtle,
    "dark": $dark-border-subtle,
) !default;

$theme-colors-text-dark: null !default;
$theme-colors-bg-subtle-dark: null !default;
$theme-colors-border-subtle-dark: null !default;
