/*
Reboot

Normalization of HTML elements, manually forked from Normalize.css to remove
styles targeting irrelevant browsers while applying new styles.

Normalize is licensed MIT. https://github.com/necolas/normalize.css
*/

@use "sass:color";

@use "variables" as *;
@use "vendor/rfs" as *;

/* Document

Change from `box-sizing: content-box` so that `width` is not affected by `padding` or `border`.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Root

Ability to the value of the root font sizes, affecting the value of `rem`.
"null" by default, thus nothing is generated.
*/
:root {
    @if $font-size-root {
        @include font-size(var(--#{$prefix}root-font-size));
    }

    @if $enable-smooth-scroll {
        @media (prefers-reduced-motion: no-preference) {
            scroll-behavior: smooth;
        }
    }
}

/* Prevent font size inflation */
html {
    text-size-adjust: none;
}

/* Body

1. Remove the margin in all browsers.
2. As a best practice, apply a default `background-color`.
*/
body {
    min-block-size: 100vh;
    margin: 0; /* 1 */

    @include font-size(var(--#{$prefix}body-font-size));

    font-family: var(--#{$prefix}body-font-family);
    font-weight: var(--#{$prefix}body-font-weight);
    line-height: var(--#{$prefix}body-line-height);
    color: var(--#{$prefix}body-color);
    text-align: var(--#{$prefix}body-text-align);

    background-color: var(--#{$prefix}body-bg); /* 2 */
}

/* Content grouping

Reset Firefox's gray color
*/
hr {
    margin: $hr-margin-y 0;
    border: 0;
    border-block-start: $hr-border-width solid $hr-border-color;

    color: $hr-color;

    opacity: $hr-opacity;
}

/* Typography

Remove top margins from headings
By default, `<h1>`-`<h6>` all receive top and bottom margins. We nuke the top
margin for easier control within type scales as it avoids margin collapsing.
*/

%heading {
    margin-block: 0 $headings-margin-bottom; /* 1 */

    font-family: $headings-font-family;
    font-weight: $headings-font-weight;
    font-style: $headings-font-style;
    line-height: $headings-line-height;
    color: var(--#{$prefix}heading-color);
}

h1 {
    @extend %heading;

    @include font-size($h1-font-size);
}

h2 {
    @extend %heading;

    @include font-size($h2-font-size);
}

h3 {
    @extend %heading;

    @include font-size($h3-font-size);
}

h4 {
    @extend %heading;

    @include font-size($h4-font-size);
}

h5 {
    @extend %heading;

    @include font-size($h5-font-size);
}

h6 {
    @extend %heading;

    @include font-size($h6-font-size);
}

/* Reset margins on paragraphs

Similarly, the top margin on `<p>`s get reset. However, we also reset the
bottom margin to use `rem` units instead of `em`.
*/
p {
    margin-block: 0 $paragraph-margin-bottom;
}

/* Abbreviations

1. Add explicit cursor to indicate changed behavior.
2. Add the correct text decoration in Chrome, Edge, Opera, and Safari.
3. Prevent the text-decoration to be skipped.
*/
abbr[title] {
    cursor: help; // 1
    text-decoration: underline dotted; // 2
    text-decoration-skip-ink: none; // 3
}

/*  Address */
address {
    margin-block-end: 1rem;
    font-style: normal;
    line-height: inherit;
}

/* Lists */
ol,
ul {
    padding-inline-start: 2rem;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1.1;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin-block-end: 0;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
    list-style: none;
}

ol,
ul,
dl {
    margin-block: 0 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
    margin-block-end: 0;
}

dt {
    font-weight: $dt-font-weight;
}

/* 1. Undo browser default */
dd {
    margin-block-end: 0.5rem;
    margin-inline-start: 0; /* 1 */
}

/* Blockquote */
blockquote {
    margin: 0 0 1rem;
}

/* Strong

Add the correct font weight in Chrome, Edge, and Safari
*/
b,
strong {
    font-weight: $font-weight-bolder;
}

/* Small

Add the correct font size in all browsers
*/
small {
    @include font-size($small-font-size);
}

/* Mark */
mark {
    padding: $mark-padding;
    color: var(--#{$prefix}highlight-color);
    background-color: var(--#{$prefix}highlight-bg);
}

/* Sub and Sup

Prevent `sub` and `sup` elements from affecting the line height in
all browsers.
*/
sub,
sup {
    position: relative;

    @include font-size($sub-sup-font-size);

    line-height: 0;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

/* Links */
a {
    color: rgba(
        var(--#{$prefix}link-color-rgb),
        var(--#{$prefix}link-opacity, 1)
    );
    text-decoration: $link-decoration;

    &:hover {
        --#{$prefix}link-color-rgb: var(--#{$prefix}link-hover-color-rgb);

        text-decoration: $link-hover-decoration;
    }
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    color: currentcolor;
    text-decoration-skip-ink: auto;
}

/*
And undo these styles for placeholder links/named anchors (without href).
It would be more straightforward to just use a[href] in previous block, but that
causes specificity issues in many other styles that are too complex to fix.
See https://github.com/twbs/bootstrap/issues/19402
*/
a:not([href], [class]) {
    &,
    &:hover {
        color: inherit;
        text-decoration: none;
    }
}

/* Code */
pre,
code,
kbd,
samp {
    font-family: $font-family-code;

    @include font-size(
        1em
    ); /* Correct the odd `em` font sizing in all browsers. */
}

/* Make images easier to work with */
img,
picture {
    display: block;
    max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
    min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
    scroll-margin-block: 5ex;
}
