@use "./mixins/border-radius" as *;
@use "./variables" as *;
@use "./vendor/rfs" as *;

.toast {
    /* toast-css-vars */
    --#{$prefix}toast-zindex: #{$zindex-toast};
    --#{$prefix}toast-padding-x: #{$toast-padding-x};
    --#{$prefix}toast-padding-y: #{$toast-padding-y};
    --#{$prefix}toast-spacing: #{$toast-spacing};
    --#{$prefix}toast-max-width: #{$toast-max-width};
    --#{$prefix}toast-color: #{$toast-color};
    --#{$prefix}toast-bg: #{$toast-background-color};
    --#{$prefix}toast-border-width: #{$toast-border-width};
    --#{$prefix}toast-border-color: #{$toast-border-color};
    --#{$prefix}toast-border-radius: #{$toast-border-radius};
    --#{$prefix}toast-box-shadow: #{$toast-box-shadow};
    --#{$prefix}toast-header-color: #{$toast-header-color};
    --#{$prefix}toast-header-bg: #{$toast-header-background-color};
    --#{$prefix}toast-header-border-color: #{$toast-header-border-color};

    @include rfs($toast-font-size, --#{$prefix}toast-font-size);

    pointer-events: auto;

    inline-size: var(--#{$prefix}toast-max-width);
    max-inline-size: 100%;
    border: var(--#{$prefix}toast-border-width) solid
        var(--#{$prefix}toast-border-color);

    @include font-size(var(--#{$prefix}toast-font-size));

    color: var(--#{$prefix}toast-color);

    background-color: var(--#{$prefix}toast-bg);
    background-clip: padding-box;
    box-shadow: var(--#{$prefix}toast-box-shadow);

    @include border-radius(var(--#{$prefix}toast-border-radius));

    &.showing {
        opacity: 0;
    }

    &:not(.show) {
        display: none;
    }
}

.toast-container {
    --#{$prefix}toast-zindex: #{$zindex-toast};

    pointer-events: none;

    position: absolute;
    z-index: var(--#{$prefix}toast-zindex);

    inline-size: max-content;
    max-inline-size: 100%;

    > :not(:last-child) {
        margin-block-end: var(--#{$prefix}toast-spacing);
    }
}

.toast-header {
    display: flex;
    align-items: center;

    padding: var(--#{$prefix}toast-padding-y) var(--#{$prefix}toast-padding-x);
    border-block-end: var(--#{$prefix}toast-border-width) solid
        var(--#{$prefix}toast-header-border-color);

    color: var(--#{$prefix}toast-header-color);

    background-color: var(--#{$prefix}toast-header-bg);
    background-clip: padding-box;

    @include border-top-radius(
        calc(
            var(--#{$prefix}toast-border-radius) - var(
                    --#{$prefix}toast-border-width
                )
        )
    );

    .btn-close {
        margin-inline-start: var(--#{$prefix}toast-padding-x)
            calc(-0.5 * var(--#{$prefix}toast-padding-x));
    }
}

.toast-body {
    padding: var(--#{$prefix}toast-padding-x);
    overflow-wrap: break-word;
}
