{
  "extends": ["stylelint-config-standard-scss", "stylelint-config-clean-order"],
  "reportInvalidScopeDisables": true,
  "reportNeedlessDisables": true,
    "ignoreFiles": [
    "node_modules/**/*.css",
    "dist/**/*.css",
    "theme-dist/**/*.css"
  ],
  "rules": {
   "scss/dollar-variable-empty-line-before": null,
   "scss/at-import-partial-extension": "never",
   "selector-not-notation": "complex"
  }
}
