@use "../variables" as *;

/* Stretched link */
.stretched-link {
    &::#{$stretched-link-pseudo-element} {
        content: "";
        position: absolute;
        z-index: $stretched-link-z-index;
        inset: 0;
    }
}
