@use "contrast-ratio" as *;

@function color-contrast-variables(
    $background,
    $color-contrast-dark,
    $color-contrast-light,
    $white,
    $black,
    $min-contrast-ratio
) {
    $foregrounds: $color-contrast-light, $color-contrast-dark, $white, $black;
    $max-ratio: 0;
    $max-ratio-color: null;

    @each $color in $foregrounds {
        $contrast-ratio: contrast-ratio($background, $color);

        @if $contrast-ratio >= $min-contrast-ratio {
            @return $color;
        }

        @if $contrast-ratio > $max-ratio {
            $max-ratio: $contrast-ratio;
            $max-ratio-color: $color;
        }
    }

    @warn "Found no color leading to #{$min-contrast-ratio}:1 contrast ratio against #{$background}...";

    @return $max-ratio-color;
}
