/* stylelint-disable  */
@function rgba-css-var($prefix, $identifier, $target) {
    @if $identifier == "body" and $target == "bg" {
        @return rgb(
            var(--#{$prefix}#{$identifier}-bg-rgb) /
                var(--#{$prefix}#{$target}-opacity)
        );
    }

    @if $identifier == "body" and $target == "text" {
        @return rgb(
            var(--#{$prefix}#{$identifier}-color-rgb) /
                var(--#{$prefix}#{$target}-opacity)
        );
    } @else {
        @return rgb(
            var(--#{$prefix}#{$identifier}-rgb) /
                var(--#{$prefix}#{$target}-opacity)
        );
    }
}
/* stylelint-enable  */
