@use "../functions/math" as *;
@use "../vendor/rfs" as *;
@use "../variables" as *;

/* Labels */

.form-label {
    margin-block-end: $form-label-margin-bottom;

    @include font-size($form-label-font-size);

    font-weight: $form-label-font-weight;
    font-style: $form-label-font-style;
    color: $form-label-color;
}

/* For use with horizontal and inline forms, when you need the label (or legend)
text to align with the form controls. */
.col-form-label {
    margin-block-end: 0; // Override the `<legend>` default
    padding-block: add($input-padding-y, $input-border-width);

    @include font-size(inherit); // Override the `<legend>` default

    font-weight: $form-label-font-weight;
    font-style: $form-label-font-style;
    line-height: $input-line-height;
    color: $form-label-color;
}

.col-form-label-lg {
    padding-block: add($input-padding-y-lg, $input-border-width);

    @include font-size($input-font-size-lg);
}

.col-form-label-sm {
    padding-block: add($input-padding-y-sm, $input-border-width);

    @include font-size($input-font-size-sm);
}
