@use "sass:math";

@use "../mixins/border-radius" as *;
@use "../mixins/box-shadow" as *;
@use "../mixins/gradients" as *;
@use "../mixins/transition" as *;
@use "../vendor/rfs" as *;
@use "../variables" as *;

/* General form controls (plus a few specific high-level interventions) */

.form-control {
    display: block;

    inline-size: 100%;
    padding: $input-padding-y $input-padding-x;
    border: $input-border-width solid $input-border-color;

    font-family: $input-font-family;
    font-weight: $input-font-weight;
    line-height: $input-line-height;
    color: $input-color;

    @include font-size($input-font-size);

    appearance: none; // Fix appearance for date inputs in Safari
    background-color: $input-bg;
    background-clip: padding-box;

    // Note: This has no effect on <select>s in some browsers, due to the limited stylability of `<select>`s in CSS.
    @include border-radius($input-border-radius, 0);

    @include box-shadow($input-box-shadow);
    @include transition($input-transition);

    &::-webkit-date-and-time-value {
        /* On Android Chrome, form-control's "width: 100%" makes the input width too small
        Tested under Android 11 / Chrome 89, Android 12 / Chrome 100, Android 13 / Chrome 109
        On iOS Safari, form-control's "appearance: none" + "width: 100%" makes the input width too small
        Tested under iOS 16.2 / Safari 16.2 */

        min-inline-size: 85px; /* Seems to be a good minimum safe width */

        // Add some height to date inputs on iOS
        // https://github.com/twbs/bootstrap/issues/23307
        // TODO: we can remove this workaround once https://bugs.webkit.org/show_bug.cgi?id=198959 is resolved
        // Multiply line-height by 1em if it has no unit
        height: if(
            math.unit($input-line-height) == "",
            $input-line-height * 1em,
            $input-line-height
        );

        // Android Chrome type="date" is taller than the other inputs
        // because of "margin: 1px 24px 1px 4px" inside the shadow DOM
        // Tested under Android 11 / Chrome 89, Android 12 / Chrome 100, Android 13 / Chrome 109
        margin: 0;
    }

    // Prevent excessive date input height in Webkit
    // https://github.com/twbs/bootstrap/issues/34433
    &::-webkit-datetime-edit {
        display: block;
        padding: 0;
    }

    /* Placeholder */
    &::placeholder {
        color: $input-placeholder-color;

        /* Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526. */
        opacity: 1;
    }

    /* File input buttons theming */
    &::file-selector-button {
        pointer-events: none;

        margin: (-$input-padding-y) (-$input-padding-x);
        margin-inline-end: $input-padding-x;
        padding: $input-padding-y $input-padding-x;
        border-color: inherit;
        border-style: solid;
        border-width: 0;
        border-inline-end-width: $input-border-width;
        border-radius: 0;

        color: $form-file-button-color;

        @include gradient-bg($form-file-button-bg);
        @include transition($btn-transition);
    }

    &[type="file"] {
        overflow: hidden; /* prevent pseudo element button overlap */

        &:not(:disabled, [readonly]) {
            cursor: pointer;
        }
    }

    // Customize the `:focus` state to imitate native WebKit styles.
    &:focus {
        border-color: $input-focus-border-color;
        color: $input-focus-color;
        background-color: $input-focus-bg;
        outline: 0;

        @if $enable-shadows {
            @include box-shadow($input-box-shadow, $input-focus-box-shadow);
        } @else {
            /* Avoid using mixin so we can pass custom focus shadow properly */
            box-shadow: $input-focus-box-shadow;
        }
    }

    /* Disabled inputs

     HTML5 says that controls under a fieldset > legend:first-child won't be
     disabled if the fieldset is disabled. Due to implementation difficulty, we
     don't honor that edge case; we style them as disabled anyway. */

    &:disabled {
        border-color: $input-disabled-border-color;
        color: $input-disabled-color;

        /* iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655. */
        opacity: 1;
        background-color: $input-disabled-bg;
    }

    &:hover:not(:disabled, [readonly])::file-selector-button {
        background-color: $form-file-button-hover-bg;
    }
}
