/* Container mixins */

@use "../variables" as *;

@mixin make-container($gutter: $container-padding-x) {
    --#{$prefix}gutter-x: #{$gutter};
    --#{$prefix}gutter-y: 0;

    inline-size: 100%;
    margin-inline: auto;
    padding-inline: calc(var(--#{$prefix}gutter-x) * 0.5);
}
