@use "../variables" as *;
@use "../vendor/rfs" as *;

/* Pagination */

/* pagination-mixin */
@mixin pagination-size($padding-y, $padding-x, $font-size, $border-radius) {
    --#{$prefix}pagination-padding-x: #{$padding-x};
    --#{$prefix}pagination-padding-y: #{$padding-y};
    --#{$prefix}pagination-border-radius: #{$border-radius};

    @include rfs($font-size, --#{$prefix}pagination-font-size);
}
