@use "../variables" as *;

@mixin reset-text {
    font-family: $font-family-base;

    /* We deliberately do NOT reset font-size or overflow-wrap / word-wrap. */
    font-weight: $font-weight-normal;
    font-style: normal;
    line-height: $line-height-base;
    text-align: left; // Fallback for where `start` is not supported
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    line-break: auto;
    white-space: normal;
}
