// Hide content visually while keeping it accessible to assistive technologies

// See: https://www.a11yproject.com/posts/2013-01-11-how-to-hide-content/
// See: https://kittygiraudel.com/2016/10/13/css-hide-and-seek/

@mixin visually-hidden() {
    overflow: hidden;

    inline-size: 1px;
    block-size: 1px;
    margin: -1px; // Fix for https://github.com/twbs/bootstrap/issues/25686
    padding: 0;
    border: 0;

    white-space: nowrap;

    clip-path: rect(0, 0, 0, 0);

    // Fix for positioned table caption that could become anonymous cells
    &:not(caption) {
        position: absolute;
    }

    // Fix to prevent overflowing children to become focusable
    * {
        overflow: hidden;
    }
}

/* Use to only display content when it's focused, or one of its child elements is focused

 (i.e. when focus is within the element/container that the class was applied to)
 Useful for "Skip to main content" links; see https://www.w3.org/WAI/WCAG22/Techniques/general/G1.html */

@mixin visually-hidden-focusable() {
    &:not(:focus, :focus-within) {
        @include visually-hidden;
    }
}
