@use "sass:list";

@use "../variables" as *;

@mixin transition($transition...) {
    @if list.length($transition) == 0 {
        $transition: $transition-base;
    }

    @if list.length($transition) > 1 {
        @each $value in $transition {
            @if not $value or not $value {
                @warn "The keyword 'none' or 'null' must be used as a single argument.";
            }
        }
    }

    @if $enable-transitions {
        @if list.nth($transition, 1) {
            transition: $transition;
        }

        @if $enable-reduced-motion and
            list.nth($transition, 1) and
            list.nth($transition, 1) !=
            none
        {
            @media (prefers-reduced-motion: reduce) {
                transition: none;
            }
        }
    }
}
